ab_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="AddressBook">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Contact" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:choice maxOccurs="unbounded">
                            <xs:element type="xs:string" name="CustomerID"/>
                            <xs:element type="xs:string" name="CompanyName"/>
                            <xs:element type="xs:string" name="ContactName"/>
                            <xs:element type="xs:string" name="ContactTitle"/>
                            <xs:element type="xs:string" name="Address"/>
                            <xs:element type="xs:string" name="City"/>
                            <xs:element type="xs:string" name="Email"/>
                            <xs:element type="xs:string" name="Region" minOccurs="0"/>
                            <xs:element type="xs:string" name="PostalCode" minOccurs="0"/>
                            <xs:element type="xs:string" name="Country"/>
                            <xs:element type="xs:string" name="Phone"/>
                            <xs:element type="xs:string" name="Fax" minOccurs="0"/>
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>